@import "tailwindcss";

@theme {
  --color-primary: #165DFF;
  --color-dark: #0F172A;
  --font-sans: 'Inter', system-ui, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-dark text-slate-300 font-sans;
}